<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakada.shakelock"
    android:versionCode="0"
    android:versionName="0.1" >
    
    <uses-permission android:name="android.permission.VIBRATE"/>
    
	<supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:anyDensity="true" />
	
	 <uses-feature android:name="android.hardware.sensor.proximity" />
	
    <uses-sdk android:targetSdkVersion="10"
    	android:minSdkVersion="7" />

    <application
        android:icon="@drawable/shakelock"
        android:label="@string/app_name" >
        
        <activity 
            android:name="com.kakada.shakelock.GreenListActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.kakada.shakelock.ScreenWakerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowIsTranslucent = "true"></activity>
        
        <activity
            android:name="com.kakada.shakelock.AboutActivity"
            android:theme="@android:style/Theme.Dialog"></activity>
            
        <activity
            android:name="com.kakada.shakelock.ShakelockActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.kakada.shakelock.ShakelockService"/>
        
        <receiver android:name=".AdminReceiver"
            android:label="@string/service_name"
        	android:description="@string/shakelockDeviceAdminDescription"
        	android:permission="android.permission.BIND_DEVICE_ADMIN">
    		<meta-data android:name="android.app.device_admin"
            	android:resource="@xml/shakelock_device_admin" />
    		<intent-filter>
        		<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
    		</intent-filter>
		</receiver>
		
        <receiver android:name="com.kakada.shakelock.LazilockAppWidget"
            android:label="@string/app_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widget_provider" />
		</receiver>
    </application>

</manifest>